# Archivos y carpetas innecesarios para el repositorio
.idea/
.vscode/
*.exe
*.zip
*.pdf

# Se coloca el csv porque es muy pesado
datasets/processed/*.csv

# Entornos locales
.venv/
venv/
.env

# Cachés y bytecode
.gocache/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# Artefactos temporales comunes
*.out
coverage.out

# logs
evidence/*.log
evidence/*.txt